div{
    text-align: center;
}

.box{
     align-items: center;
     width: 20%;
     margin-left: 40%;
     border:50%;
     
     
    
}
.container123{
    border:1px solid black;
     max-width: 90vh;
     padding: 10px;
     margin: 130px 370px;
     align-items: center;
     
     
}
.box2 input{
    display:block ;
    width: 300px;
    padding-left: 5px 6px;
    margin-left: 25%;
    
    

}
.form-label{
    font-weight: bold;
    font-size: 18px;
}
button{
    border-radius: 20px;
    padding: 3px 12px;
    background-color: lightblue;
}
button:hover{
    background-color: grey;
}





